<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>ListeCentre</servlet-name>
        <servlet-class>Servlets.ListeCentre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Coupure</servlet-name>
        <servlet-class>Servlets.Coupure</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailsCentreServlet</servlet-name>
        <servlet-class>Servlets.DetailsCentreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCoupure</servlet-name>
        <servlet-class>Servlets.AddCoupure</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prevision</servlet-name>
        <servlet-class>Servlets.Prevision</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoirPrevision</servlet-name>
        <servlet-class>Servlets.VoirPrevision</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListeCentre</servlet-name>
        <url-pattern>/ListeCentre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Coupure</servlet-name>
        <url-pattern>/Coupure</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailsCentreServlet</servlet-name>
        <url-pattern>/DetailsCentreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCoupure</servlet-name>
        <url-pattern>/AddCoupure</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prevision</servlet-name>
        <url-pattern>/Prevision</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoirPrevision</servlet-name>
        <url-pattern>/VoirPrevision</url-pattern>
    </servlet-mapping>
</web-app>
